<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="kmp200_gazebo" params="robot_name">

    <!-- ROS2 Force based move plugin -->
    <gazebo>
        <plugin name='ros_force_based_move' filename='libgazebo_ros_force_based_move.so'>
            <ros>
                <namespace>/${robot_name}</namespace>
                <remapping>cmd_vel:=base/command/cmd_vel</remapping>
                <remapping>odom:=base/state/odom</remapping>
            </ros>
            <robot_base_frame>${robot_name}_base_footprint</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <odom_frame>${robot_name}_odom</odom_frame>
            <odometry_rate>20.0</odometry_rate>

            <yaw_velocity_p_gain>500</yaw_velocity_p_gain> 
            <x_velocity_p_gain>1000</x_velocity_p_gain> 
            <y_velocity_p_gain>1000</y_velocity_p_gain> 
        </plugin>
    </gazebo> 

    <!-- Laser B1 -->
    <gazebo reference="${robot_name}_laser_B1_link">
        <sensor name="sensor_B1" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                    <samples>640</samples>
                    <resolution>1.000000</resolution>
                    <min_angle>-2.30383</min_angle>
                    <max_angle>2.30383</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>30.0</max>
                    <resolution>0.0100</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_sensor_B1_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>/${robot_name}</namespace>
                    <remapping>~/out:=base/state/LaserB1Scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>${robot_name}_laser_B1_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Laser B4 -->
    <gazebo reference="${robot_name}_laser_B4_link">
        <sensor name="sensor_B4" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                    <samples>640</samples>
                    <resolution>1.000000</resolution>
                    <min_angle>-2.30383</min_angle>
                    <max_angle>2.30383</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>30.0</max>
                    <resolution>0.0100</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_sensor_B4_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>/${robot_name}</namespace>
                    <remapping>~/out:=base/state/LaserB4Scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>${robot_name}_laser_B4_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="${robot_name}_base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${robot_name}_front_left_wheel_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <surface>
            <contact>
                <collide_without_contact>true</collide_without_contact>
            </contact>
        </surface>
    </gazebo>

    <gazebo reference="${robot_name}_front_right_wheel_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <surface>
            <contact>
                <collide_without_contact>true</collide_without_contact>
            </contact>
        </surface>
    </gazebo>

    <gazebo reference="${robot_name}_back_left_wheel_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <surface>
            <contact>
                <collide_without_contact>true</collide_without_contact>
            </contact>
        </surface>
    </gazebo>

    <gazebo reference="${robot_name}_back_right_wheel_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <surface>
            <contact>
                <collide_without_contact>true</collide_without_contact>
            </contact>
        </surface>
    </gazebo>

  </xacro:macro>

</robot>
